/target/*
/tftphome/*
/dvr_rdk/build/*
/kernel/.*
*.o
*.a
*.so
/kernel/vmlinux
/kernel/usr/.*
*.oem3
*.sem3
*.pch
*.cmd
*.P
*.ko
*.DEPEND
*.out
*.la
*.oe674
*.se674
*.aem3
*.xem3
*.3
*.0
*.1
*.builtin
*.order
*.tmp_*
*~
