/target/*
/tftphome/*
/dvr_rdk/build/*
/dvr_rdk/bin/ti814x/*
/kernel/.*
*.IAB
*.IAD
*.IMB
*.IMD
*.PRI
*.PS
*.xe674
*.o
*.a
*.so
/kernel/vmlinux
/kernel/usr/.*
*.PFI
*.PO
*.oem3
*.sem3
*.pch
*.cmd
*.P
*.ko
*.DEPEND
*.out
*.la
*.oe674
*.se674
*.aem3
*.xem3
*.3
*.0
*.1
*.builtin
*.order
*.tmp_*
*~
